<div class="col-12 container">
  <div class="text-center mb-4">
    <h3 class="text-primary">About Us</h3>
  </div>
  <div class="col">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/background_image/about.jpeg" alt="Card image cap">
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CADD VENTURES: </h5>
          <p class="card-text">CADD VENTURES  is a leading organization in the field of Civil and mechanical engineering promoted by the experienced trainers having years of practical experience in various branches of engineering . We have an actual industrial experience combined with software technology knowledge in order to fulfill the missing link between growing demands of the industry & fresh graduate engineer's</p>
          <h5 class="card-title">WHY CADD VENTURES: </h5>
          <p class="card-text">
            CADD VENTURES have faculties with years of practical experience in core Engineering fields 
            Training with 100% job assistance along with the Money Back policy for specified courses 
            CADD VENTURES have direct tie up with multiple industries to provide jobs to freshers & experienced  candidates 
            Exclusive courses n curriculum 
            Simplified teaching methods for easy learning
            Regular assessments & monitoring tests
            Counseling & guidance on final year live project 
            Apart from training on technical skills CADD VENTURES work on candidates communication skills, Soft skill, Group Discussion & personality Development.</p>
        </div>
      </div>
    </div>
  </div>
</div>