<div class="col-12 container">
  <div class="text-center mb-4">
    <h3 class="text-primary">About Us</h3>
  </div>
  <div class="col">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/background_image/about.jpeg" alt="Card image cap">
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CADD VENTURES</h5>
          <p class="card-text">We, cadd ventures situated at
            <b> Nal Stop. Pune. Maharashtra</b> are internationally reputed computer training institute in the city. The focus
            is on orienting students to develop creativity and provide presonalized career counselling that helps top ensure
            that they stay on track for a successful career. We aim to provide world class learning environment in latest
            software's. We are proud to have one of the best set-ups in the industry</p>
        </div>
      </div>
    </div>
  </div>
</div>