.carousel-inner img {
    width: 100%;
    height: 100%;
}

h1.responsive_size {
    font-size:4rem;
}

@media screen and (max-width: 750px) {
    .responsive_size {
        font-size:8vw!important;
    }
  }

  .text-color {
      color: #000080;
  }