<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top fixed-height" id="mainNav">
  <div class="container-fluid">
    <img class="image_class1" src="assets/background_image/Autodesk_Certified_User_Logo.jpg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Certification
          </a>
          <div class="dropdown-menu drpBackground" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-white" [routerLink]="['/certificate']">Autodesk Certification</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="ajax-content-wrap" style="margin-top:100px">
  <div class=" container-wrap">
    <div class="container main-content">
      <div class="row col-12">
        <div class="col-6">
          <div class="column-bg-overlay"></div>
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  vc_custom_1459284943947">
                <div class="wpb_wrapper">
                  <h1 style="text-align: center;">Autodesk Certification and Training</h1>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element  vc_custom_1459284934736">
                <div class="wpb_wrapper">
                  <p>Competition for talent is fierce in today’s marketplace. Universities want to enroll
                    the smartest, most committed students and equip them for professional success after
                    they graduate. Employers want to attract and retain well-qualified, ambitious
                    professionals who not only work hard, but also help them win new projects and gain
                    industry recognition. Students and professionals just want to get ahead—and stay
                    there.</p>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element  vc_custom_1459282974257">
                <div class="wpb_wrapper">
                  <h4 style="text-align: center;">Top 10 Reasons to Get Autodesk Certified</h4>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element  vc_custom_1459285082088">
                <div class="wpb_wrapper">
                  <p><strong>1&nbsp; Gain Industry Recognition for Your Skill</strong></p>
                  <p>– Set Set yourself apart and receive industry recognition&nbsp; for your proven
                    expertise with Autodesk® software. Autodesk® Certification is a validation that you
                    have the knowledge and skills necessary to effectively meet the needs of your
                    company.</p>
                  <p><strong>2 Demonstrate your Expertise in the Latest Autodesk Technology</strong></p>
                  <p>– Autodesk continually improves its software offerings; show your school or employer
                    that you are ahead of the curve by earning certification on the most recent release
                    of the software.</p>
                  <p><strong>3 Improve Your Performance and Add Value to Your Company</strong></p>
                  <p>– Preparing for certification helps improve your performance by strengthening your
                    existing skills and developing new skills through your study of the exam objectives.
                    Add value to your company by focusing on the skills, projects, and assignments that
                    are important to your employer and your industry.</p>
                  <p><strong>4 Gain Confidence and Peer Recognition</strong></p>
                  <p>– Certification is a step toward defining yourself beyond a job description or
                    academic degree while gaining a sense of personal satisfaction. Earning certification
                    can bring prestige and recognition from your peers.</p>
                  <p><strong>5 Earn a Portable Credential for Job Retention and Mobility</strong></p>
                  <p>– Certification can give you an advantage when being considered for a promotion or
                    other career opportunities. Certification clearly identifies you as an employee who
                    is committed to your job and the industry. Because Autodesk Certification is offered
                    around the world, your credential is portable.</p>
                  <p><strong>6 Become Part of an Elite Team of Professionals</strong></p>
                  <p>– Not everyone can meet the rigorous requirements of Autodesk Certification. Become
                    a member of the exclusive club of professionals who met program requirements through
                    study and commitment. When&nbsp; you earn Autodesk Certification, you receive an
                    official Autodesk Certificate, Autodesk logo, and a listing in Autodesk’s database of
                    certified professionals around&nbsp; the world.</p>
                  <p><strong>7 Align with an Industry Leader</strong></p>
                  <p>– Get certified on software used by more than 10 million professionals in 185
                    countries. Autodesk products help save time and money, enable effective
                    collaboration, and change the way ideas are realized. A world leader in 3D design,
                    engineering, and entertainment software, Autodesk is helping design professionals
                    transform challenges into opportunities, design in better ways, and gain competitive
                    advantage.</p>
                  <p><strong>8 It is Easy to Prepare</strong></p>
                  <p>– Autodesk, together with its partners and Autodesk Certification Centers, offers a
                    variety of solutions to help you prepare for certification. These include exam
                    preparation road maps, assessment tests, Autodesk Official Training Guides (AOTG),
                    and courses at Autodesk Authorized Training Center (ATC®) sites. These certification
                    solutions are available around the world.</p>
                  <p><strong>9 Choose the Level of Certification that is Right for You</strong></p>
                  <p>– Whether you are just starting to use Autodesk software or you’re an experienced
                    professional, you can choose the level that is right for you. There are three levels
                    of certification: user, associate, and professional. The associate exam is the most
                    broadly available.</p>
                  <p><strong>10 The Tests are Performance Based</strong></p>
                  <p>– Autodesk offers performance-based professional-level tests. Performance-based
                    tests are recognized as a better way to certify using live Autodesk software
                    applications to answer questions about design problems and solutions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="column-bg-overlay"></div>
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="img-with-aniamtion-wrap center" data-max-width="100%" data-border-radius="">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation skip-lazy  animated-in"
                    data-delay="0" height="594" width="770" data-animation="fade-in-from-right" src="assets/certificate/ACU_AutoCad_Certificates_Sample.jpg"
                    sizes="100vw" alt="" style="opacity: 1; transform: translate(0px, 0px);"></div>
              </div>
              <div class="divider-wrap" data-alignment="default">
                <div style="height: 20px;" class="divider"></div>
              </div>
              <div class="img-with-aniamtion-wrap center" data-max-width="100%" data-border-radius="">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation skip-lazy  animated-in"
                    data-delay="50" height="594" width="770" data-animation="fade-in-from-right" src="assets/certificate/ACU_Inventor_Certificates_Sample.jpg"
                    sizes="100vw" alt="" style="opacity: 1; transform: translate(0px, 0px);"></div>
              </div>
              <div class="divider-wrap" data-alignment="default">
                <div style="height: 20px;" class="divider"></div>
              </div>
              <div class="img-with-aniamtion-wrap center" data-max-width="100%" data-border-radius="">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation skip-lazy "
                    data-delay="100" height="594" width="770" data-animation="fade-in-from-right" src="assets/certificate/ACU_RevitArch_Certificates_Sample.jpg"
                    sizes="100vw" alt=""></div>
              </div>

              <div class="divider-wrap" data-alignment="default">
                <div style="height: 20px;" class="divider"></div>
              </div>
              <div class="img-with-aniamtion-wrap center" data-max-width="100%" data-border-radius="">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation skip-lazy "
                    data-delay="100" height="594" width="770" data-animation="fade-in-from-right" src="assets/certificate/ACU_Maya_Certificates_Sample.jpg"
                    sizes="100vw" alt=""></div>
              </div>

              <div class="divider-wrap" data-alignment="default">
                <div style="height: 20px;" class="divider"></div>
              </div>
              <div class="img-with-aniamtion-wrap center" data-max-width="100%" data-border-radius="">
                <div class="inner"><img data-shadow="none" data-shadow-direction="middle" class="img-with-animation skip-lazy "
                    data-delay="100" height="594" width="770" data-animation="fade-in-from-right" src="assets/certificate/ACU_3dsMax_Certificates_Sample.jpg"
                    sizes="100vw" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="py-4 bg-light">
  <div class="col">
    <a class="m-0" [routerLink]="['/home']">Home | </a>
    <a class="m-0" [routerLink]="['/home']">Services | </a>
    <a class="m-0" [routerLink]="['/home']">About Us | </a>
    <a class="m-0" [routerLink]="['/home']">Gallery | </a>
    <a class="m-0" [routerLink]="['/home']">Contact Us</a>
  </div>
  <div class="col">
    <p class="m-0 text-left">&copy; Copyright 2018-2019.cadd.ventures All Rights Reserved.</p>
  </div>
</footer>
<!-- fixed button -->
<a class="contact-button" href="tel:+918007487185">
  <i class="fa fa-headphones phoneSetting"></i>
  <div class="text-left contact_label">Contact Us
    <br>
    <a title="Call Now" href="tel:+918007487185">+91 8007487185</a>
  </div>
</a>

<a title="What's App" href="https://api.whatsapp.com/send?phone=917057586563&forceIntent=true&load=loadInIOSExternalSafari"
  target="_blank" class="whatsup-button">
  <i class="fa fa-whatsapp fa-3x"></i>
</a>

<go-top-button title="Go To Top" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="500" [classNames]="'gototop btn btn-primary'">
  <i class='fa fa-chevron-up'></i>
</go-top-button>
<!-- end of the fixed button -->