<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
  <div class="container-fluid">
    <img style="height:40px; width:40px;" src="assets/background_image/logo.png">
    <a style="text-align:center; margin-top:-10px; line-height:18px;" class="ml-1 navbar-brand" href="javascript:void(0)"> <i style="font-size:13px; color:wheat; text-decoration: underline; text-decoration-color: darkseagreen;">ISO 9001:2015 Certified</i><br/> CADD VENTURES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" (click)="scroll(home)" href="javascript:void(0)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="scroll(services)" href="javascript:void(0)">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="scroll(about)" href="javascript:void(0)">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="scroll(gallery)" href="javascript:void(0)">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="scroll(contact)" href="javascript:void(0)">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header #home class="text-white">
  <app-home></app-home>
</header>

<section #services>
  <app-services></app-services>
</section>

<section #about>
  <app-about></app-about>
</section>

<section #gallery>
  <app-gallery></app-gallery>
</section>

<section #contact>
  <app-contact></app-contact>
</section>

<!-- Footer -->
<footer class="py-4 bg-primary">
  <div class="col">
    <a class="m-0 text-white" (click)="scroll(home)" href="javascript:void(0)">Home | </a>
    <a class="m-0 text-white" (click)="scroll(services)" href="javascript:void(0)">Services | </a>
    <a class="m-0 text-white" (click)="scroll(about)" href="javascript:void(0)">About Us | </a>
    <a class="m-0 text-white" (click)="scroll(gallery)" href="javascript:void(0)">Gallery | </a>
    <a class="m-0 text-white" (click)="scroll(contact)" href="javascript:void(0)">Contact Us</a>
  </div>
  <div class="col">
    <p class="m-0 text-center text-white">&copy; Copyright 2018-2019.cadd.ventures All Rights Reserved.</p>
  </div>
</footer>
<!-- fixed button -->
<a class="contact-button" href="tel:+918007487185">
  <i class="fa fa-headphones phoneSetting" style="color: white;"></i>
  <div class="text-left" style="margin: 5px 0px 5px 60px;">Contact Us
    <br>
    <a title="Call Now" href="tel:+918007487185">+91 8007487185</a>
  </div>
</a>

<a title="What's App" href="https://api.whatsapp.com/send?phone=918007487185&forceIntent=true&load=loadInIOSExternalSafari"
  target="_blank" class="whatsup-button">
  <i class="fa fa-whatsapp fa-3x"></i>
</a>

<go-top-button title="Go To Top" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="500" [classNames]="'gototop btn btn-primary'">
  <i class='fa fa-chevron-up'></i>
</go-top-button>
<!-- end of the fixed button -->