<div class="col-12 container">
  <div class="text-center mb-4">
    <h3 class="text-primary">Gallery</h3>
  </div>
  <div ngxViewer [viewerOptions]="viewerOptions">
    <!-- add more images then add mb-2 class -->
    <div class="card-deck">  
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_first.jpeg" alt="Class Student">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_second.jpeg" alt="Reception Counter">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_thired.jpeg" alt="Practical Lab">
      </div>
    </div>
  </div>
</div>