.panel_height {
    height: 100%;
}
.customePointer{
 cursor: pointer;
}
.image_thumbnial {
    padding: .25rem;
    background-color: white;
    border-radius: .25rem;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.customBorder {
    border: 1px solid rgba(0,0,0,.125);
    padding: .25rem;
    background-color: white;
    border-radius: .25rem;
}
.carousel-indicators .active {
    background-color:green;
}
.carousel-indicators li {
    background-color:red;
}
.carousel-indicators {
    bottom: 0px!important;
}