<div class="col-12 container">
  <div class="text-center mb-4">
    <h3 class="text-primary">Recently Placed Candidates</h3>
  </div>

  <div id="carouselExampleIndicators1" class="carousel customBorder slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Komal Godse
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Komal Godse</p>
                  <footer class="blockquote-footer">Kats TECH Pvt Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Pratiksha Bansode
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Pratiksha Bansode</p>
                  <footer class="blockquote-footer">Teknovance Solution Pvt Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Niraj Jog
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Niraj Jog</p>
                  <footer class="blockquote-footer">Black & Veatch.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Hetal Vyas
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Hetal Vyas</p>
                  <footer class="blockquote-footer">Emerson Process Management India Pvt Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Kiran Kabra
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Kiran Kabra</p>
                  <footer class="blockquote-footer">VK Architects.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Priyanka Bagal
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Priyanka Bagal</p>
                  <footer class="blockquote-footer">Precision Precast Solution Pvt Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Gayatri Mali
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Gayatri Mali</p>
                  <footer class="blockquote-footer">Neilsoft Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Nilam I
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Nilam I</p>
                  <footer class="blockquote-footer">Foresight Creators & Contractors.</footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Tejas Kadam
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Tejas Kadam</p>
                  <footer class="blockquote-footer">Frontier Automation.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">
                Govind Bandgar
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Govind Bandgar</p>
                  <footer class="blockquote-footer">Veda Engineering Pvt Ltd.</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="text-center mb-3">
    <h3 class="text-primary">Gallery</h3>
  </div>

  <div ngxViewer [viewerOptions]="viewerOptions">
    <!-- add more images then add mb-2 class -->
    <div class="card-deck">  
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_first.jpeg" alt="Class Student">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_second.jpeg" alt="Reception Counter">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_thired.jpeg" alt="Practical Lab">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_forth.jpg" alt="Practical Lab">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_fifth.jpg" alt="Practical Lab">
      </div>
      <div class="card customePointer">
        <img class="image_thumbnial card-img-top panel_height" src="assets/background_image/gallery_six.jpg" alt="Practical Lab">
      </div>
    </div>
  </div>
</div>