/* fonts */
@font-face {
  font-family: hotelGrand;
  src: url(assets/fonts/GrandHotel-Regular.ttf);
  font-weight: bold;
}

.responsive_size {
  font-family: hotelGrand;
}

.carousel-caption {
  top: 0;
  bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* other css */
textarea{
  resize: none!important;
}

a:hover {
  text-decoration: none;
}

.error {
  border-color:red;
}

ul {
  list-style: none;
  padding: 0px;
}

ul.about_star li:before {
  content: "\f005";
  margin: 0 1em;    /* any design */
  font-family: FontAwesome;
  color: #007bff;
}

/* end of the other css */

/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bff; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

/* end of the scroll bar */