
/* other css */
textarea{
  resize: none!important;
}

a:hover {
  text-decoration: none;
}

.error {
  border-color:red;
}

ul {
  list-style: none;
  padding: 0px;
}

ul.about_star li:before {
  content: "\f005";
  margin: 0 1em;    /* any design */
  font-family: FontAwesome;
  color: #007bff;
}

/* end of the other css */